<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My E-commerce Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="{% url 'index:index' %}">Home</a></li>
                        <li class="dropdown">
                            <a href="#">Shop</a>
                            <div class="dropdown-content">
                                <a href="#" onclick="showContent('option1')">Electronics</a>
                                <a href="#" onclick="showContent('option2')">Mobile</a>
                                <a href="#" onclick="showContent('option3')">Laptop</a>
                                <a href="#" onclick="showContent('option4')">Dress</a>
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'sign-up:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'sign-up:login' %}">Login</a></li>
                        {% endif %}
                        <li><a href="{% url 'sign-up:sign-up' %}">Sign-up</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 My E-commerce Website. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
