{% extends "index.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class='log-in'>
    <h1 class='logh1'>Login</h1>
    <form class="form-with-validation login-form"  method="post" id="loginForm">
      {% csrf_token %}
      <div class="form-group">

        {{ form.username }}
    </div>
    {% comment %} <div class="form-group">
       
        {{ form.email }}
    </div> {% endcomment %}
    <div class="form-group">
       
        {{ form.password }}
    </div>
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
      <button class="form-submit" id="submitButton">
        Submit <span class="loading-spinner" style="display: none;"></span>
      </button>
      <p class="success-message" id="successMessage" style="display: none;">Done!</p>
    </form>
    {% if error_message %}
      <div class='error_message'>{{ error_message }}</div>
    {% endif %}
  </div>
{% endblock %}
