{% extends "index.html" %}
{% block content %}
<div class="custom-amazon-product-page">
    <div class="custom-product-container">
        <!-- Product Image Section -->
        <div class="custom-product-image-section">
            <!-- Main Product Image -->
            <img id="mainImage" src="{{ products.image.url }}" alt="{{ products.title }}" class="custom-product-main-image">
            <span class="custom-product-percentage">-{{ products.get_percentage|floatformat }}%</span>
            <!-- Thumbnail Images -->
            <div class="custom-product-thumbnails">
                {% for image in p_image %}
                    <img src="{{ image.image.url }}" alt="{{ products.title }}" class="custom-product-thumbnail" onclick="changeImage('{{image.image.url }}')">
                {% endfor %}
            </div>
        </div>

        

        <!-- Product Details Section -->
        <div class="custom-product-details-section">
            <h1 class="custom-product-title">{{ products.title }}</h1>
            <p class="custom-product-rating">Rating: ★★★★☆ (24,320 ratings)</p>
            <p class="custom-product-category">Category: {{ products.category }}</p>
            <p class="custom-product-price">Price: ${{ products.price }}</p>
            <p class="custom-product-description">{{ products.description }}</p>

            <!-- Buy Button Section -->
            <div class="custom-buy-now-section">
                <a href="#" class="custom-btn-buy-now">Buy Now</a>
                <a href="#" class="custom-btn-add-to-cart">Add to Cart</a>
            </div>
        </div>

        <!-- Vendor Details Section -->
        <div class="custom-vendor-details-section">
            <h3>Sold by: {{ vender.title }}</h3>
            <p>Address: {{ vender.address }}</p>
            <p>Call us: {{ vender.contact }}</p>
            <p>Since: {{ vender.date|date:'Y' }}</p>
            <a href="{% url 'index:vender_detail_view' vender.vid %}" class="custom-btn-vendor-details">More Details</a>
        </div>
    </div>
</div>

<script>
    function changeImage(url) {
        document.getElementById("mainImage").src = url;
    }
</script>
{% endblock %}
