{% extends "index.html" %}

{% block content %}
<div class="vendor-detail-container">
    <h1 class="vendor-title">{{ vendor.name }}</h1>
    <div class="vendor-info">
        <div class="vendor-detail-card">
            <div class="vendor-image">
                <img src="{{ vender.image.url }}" alt="Vendor Image">
            </div>
            <div class="vendor-details-text">
                <p class="vendor-detail"><strong>Address:</strong> {{ vender.address }}</p>
                <p class="vendor-detail"><strong>Call us:</strong> {{ vender.contact }}</p>
                <p class="vendor-detail"><strong>Since:</strong> {{ vender.date|date:'Y' }}</p>
                <div class="vendor-description">
                    <p><strong>Description:</strong> {{ vender.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="featured-products-section">
        <div class="container-vendor-detail">
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card">
                    <a href="{% url "index:product-detail-view" product.pid product.vender.vid %}" class="detail-link">   
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
                    <div class="product-details">
                        <h3 class="product-title">{{ product.title }}</h3>
                        <p class="product-category">{{ product.category }}</p>
                        <p class="product-vendor">{{ product.Vendor }}</p>
                        <span class="product-percentage">-{{ product.get_percentage|floatformat}}%</span>
                        <p class="product-price">{{ product.price }}</p>
                        <a href="#" class="btn-secondary">Buy Now</a>
                        <a href="{% url "index:product-detail-view" product.pid product.vender.vid %}" class="btn-secondary">Details</a>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <a href="{% url 'index:vender_list_view' %}">
        <button class="back-btn">Back to Vendor List</button>
    </a>
</div>
{% endblock %}
