/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
}

/* Wrapper for the main content */
.content-wrapper {
    flex: 1; /* Takes up all the available space in the flex container */
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 0; /* Remove padding for consistency */
}

.container-cat {
    width: 60%;
    margin: 0 auto;
    padding: 0; /* Remove padding */
}

/* Section Title */
.section-title, .cat-title {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0; /* Adjust as needed */
    color: #333;
}

/* Category Grid */
.category-grid, .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 0; /* Ensure no margin at the top */
    padding: 0; /* Remove padding */
    justify-content: center;
}

/* Category Card */
.category-card, .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 150px; /* Reduced width */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0; /* Ensure no margin at the top */
    position: relative; /* Ensures that the span is positioned relative to this card */
    padding: 15px; /* Added padding */
    text-align: left;
    margin-bottom: 20px;
}

.category-card:hover, .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Category Link */
.category-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

/* Category Image Container */
.category-image-container {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    background-color: #f7f7f7;
}

.category-image, .product-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

/* Product Percentage (Discount) */
.product-percentage {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(246, 140, 140, 0.8);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Category Details */
.category-details, .product-details {
    padding: 15px;
    text-align: center;
}

.category-title, .product-title {
    font-size: 16px; /* Reduced font size */
    margin: 10px 0;
    color: #333;
}

.category-count, .product-category, .product-vendor, .product-price {
    font-size: 12px; /* Reduced font size */
    color: #888;
    margin: 5px 0;
}

/* Buy Now Button */
.btn-secondary {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color:  #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center;
}

.btn-secondary:hover {
    background-color:  #f39c12;
}

/* Header Styles */
header {
    background-color: #232f3e;
    color: #fff;
}

.top-bar {
    background-color: #131921;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Section Styles */
.hero-section {
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
    color: #fff;
}

.hero-content h2 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

.btn-primary {
    background-color: #232f3e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1a1a1a;
}

/* Footer Styles */
footer {
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Ensures the footer sticks to the bottom if the content is shorter than the viewport */
}

footer p {
    margin: 0;
}

/* Namespaced Form Styles */
.register-form-container, .log-in {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 40px auto;
}

.register-form-container:hover, .log-in:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.register-form-container h1, .log-in .logh1 {
    font-size: 2em;
    margin-bottom: 20px;
    color:  #f39c12;
}

.register-form-container .form-group, .log-in .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.register-form-container .form-group label, .log-in .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-form-container .form-group input, .log-in .form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.register-form-container .form-group input:focus, .log-in .form-group input:focus {
    border-color: #4a5969;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.register-form-container .submit-btn {
    background-color:  #f39c12;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.register-form-container .submit-btn:hover {
    background-color: #f39c12;
    transform: translateY(-2px);
}

.register-form-container form, .log-in .form-with-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form-container form .submit-btn, .log-in .submit-btn {
    max-width: 350px;
}

/* Vendor Address Styles */
.vendor-addr {
    margin: 20px auto; /* Center the card and add margin */
    max-width: 400px; /* Limit the width */
    padding: 20px; /* Add padding for spacing */
    border: 1px solid #ddd; /* Border for structure */
    border-radius: 10px; /* Rounded corners */
    background-color: #fff; /* White background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center-align the text */
}

.vendor-addr h2 {
    margin-bottom: 10px; /* Space below the heading */
    font-size: 24px; /* Large, readable font size */
    color: #333; /* Darker color for emphasis */
}

.vendor-addr p {
    margin-bottom: 10px; /* Space below each paragraph */
    font-size: 16px; /* Standard font size */
    color: #666; /* Subtle color for the text */
}

.vendor-addr .addr-para {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.vendor-addr a {
    display: inline-block; /* Makes the link block-level */
    margin-top: 10px; /* Space above the link */
    padding: 10px 20px; /* Padding for the link */
    background-color: #3498db; /* Button color */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth color transition */
}

.vendor-addr a:hover {
    background-color: #2980b9; /* Darker shade on hover */
}
/* ----------------------------product detail css-------------------------------------------------- */
/* Custom Amazon Product Page Styles */
.custom-amazon-product-page {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.custom-product-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-product-image-section {
    flex: 1;
    max-width: 320px;
    position: relative;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.custom-product-main-image {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.custom-product-main-image:hover {
    transform: scale(1.05);
}

.custom-product-percentage {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F68C8C;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-product-details-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.custom-product-title {
    font-size: 26px;
    font-weight: bold;
    color: #222;
    margin-bottom: 15px;
}

.custom-product-rating,
.custom-product-category,
.custom-product-price,
.custom-product-description {
    font-size: 16px;
    margin-bottom: 12px;
}

.custom-product-price {
    font-size: 24px;
    font-weight: bold;
    color: #B12704;
}

.custom-buy-now-section {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.custom-btn-buy-now,
.custom-btn-add-to-cart,
.custom-btn-vendor-details {
    padding: 12px 25px;
    border: none;
    color: #fff;
    background-color: #FF9900;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-btn-buy-now:hover,
.custom-btn-add-to-cart:hover,
.custom-btn-vendor-details:hover {
    background-color: #E68A00;
    transform: translateY(-2px);
}

.custom-vendor-details-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-vendor-details-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

/* Vendor Category Section */
.vendor-category-section {
    padding: 40px 0;
}

.vendor-container-cat {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.vendor-section-title {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.vendor-category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vendor-category-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.vendor-category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.vendor-category-image-container {
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
}

.vendor-category-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.vendor-category-details {
    text-align: center;
}

.vendor-category-title {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.vendor-product-vendor {
    font-size: 12px;
    color: #888;
    margin: 5px 0;
}

.vendor-addr {
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.vendor-detail-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    align-self: center;
}

.vendor-detail-btn:hover {
    background-color:  #f39c12;
    transform: translateY(-2px);
}


.vendor-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.vendor-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.vendor-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.vendor-detail-card {
    display: flex;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    background-color: #f9f9f9;
}

.vendor-image img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.vendor-details-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.vendor-detail {
    margin-bottom: 10px;
    font-size: 1em;
}

.vendor-description {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.featured-products-section .container-vendor-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width:200px;
    text-align: center;
    max-width: 55%;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-details {
    font-size: 1em;
}

.btn-secondary {
    background-color:  #f39c12;
    border: 1px solid #efede8;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #e8dfdf;
    display: inline-block;
    margin-top: 10px;
}

.back-btn {
    background-color:  #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: fit-content;
    font-size: 1em;
}
/* ---------------------------------------------------footer css-------------------------------------------- */
/* Footer Base Styling */
footer {
    background-color: #2c3e50; /* Dark background for a formal look */
    color: #ecf0f1; /* Light text color for contrast */
    padding: 40px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Professional font */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #34495e;
    padding-bottom: 30px;
}

/* Footer Section Styling */
.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f39c12; /* Highlighted section titles with a gold color */
    text-transform: uppercase; /* Make titles uppercase for a formal appearance */
    border-left: 4px solid #f39c12;
    padding-left: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    font-size: 15px;
    line-height: 1.8;
    color: #bdc3c7; /* Softer text color for better readability */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #f39c12; /* Change color on hover */
}

/* Social Media Styling */
.social a {
    margin-right: 15px;
    font-size: 18px;
    color: #bdc3c7;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #f39c12;
}

.social a i {
    margin-right: 8px;
}

/* Footer Bottom Styling */
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #1a252f; /* Slightly darker background for bottom */
    font-size: 14px;
    color: #bdc3c7;
}

.footer-bottom p {
    margin: 0;
}
.social a {
    margin-right: 15px;
    font-size: 18px;
    color: #bdc3c7;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social a:hover {
    color: #f39c12; /* Change color on hover */
}

.social a i {
    margin-right: 8px;
}
/* Main container styling */
.custom-amazon-product-page {
    padding: 20px;
    background-color: #f5f5f5;
}

.custom-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product Image Section */
.custom-product-image-section {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.custom-product-main-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.custom-product-main-image:hover {
    transform: scale(1.05);
}

.custom-product-percentage {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

/* Arrow Buttons */
.custom-arrow-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.custom-arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-arrow-button:focus {
    outline: none;
}

/* Thumbnail Images */
.custom-product-thumbnails {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-product-thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-product-thumbnail:hover {
    border-color: #007bff;
    transform: scale(1.1);
}

/* Product Details Section */
.custom-product-details-section {
    flex: 1;
    margin-left: 20px;
}

.custom-product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.custom-product-rating,
.custom-product-category,
.custom-product-price {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
}

.custom-product-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Buy Button Section */
.custom-buy-now-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.custom-btn-buy-now,
.custom-btn-add-to-cart {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn-buy-now:hover,
.custom-btn-add-to-cart:hover {
    background-color: #0056b3;
}

/* Vendor Details Section */
.custom-vendor-details-section {
    margin-top: 20px;
}

.custom-vendor-details-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.custom-btn-vendor-details {
    display: inline-block;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn-vendor-details:hover {
    background-color: #218838;
}

/* About Section */
/* About Section */
.about-detail {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about--details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.custom-product-about {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

